beautifulsoup4==4.6.0
bs4==0.0.1
click==6.7
Flask==0.12.2
Flask-Injector==0.10.0
Flask-Script==2.0.5
funcsigs==1.0.2
injector==0.13.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
marshmallow==2.13.6
mock==2.0.0
pbr==3.1.1
six==1.10.0
typing==3.6.2
virtualenv==15.1.0
webargs==1.8.1
Werkzeug==0.12.2
